body {
    background-image: url('../images/bg3.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
}

form {
    background: rgba(82, 77, 77, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ffffff;
}

label {
    display: block;
    margin-top: 10px;
    color: #ffffff;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #8106e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}